/* Default classes start*/
.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.text-center {
    text-align: center;
}

.bg-dark-blue {
    background-color: #263238;
}

.bg-yellow {
    background-color: #fcb322;
}

.bg-orange {
    background-color: #ef6c00;
}

.bg-green {
    background-color: #8bc34a;
}

.bg-red {
    background-color: #e74c3c;
}

.bg-white {
    background-color: #fff;
}

.bg-marengo {
    background-color: #455a64;
}

.bg-ligth-marengo {
    background-color: #546e7a;
}

.bg-violet {
    background-color: #6370b6;
}

.bg-ligth-blue {
    background-color: #64b5f6;
}

.bg-blue {
    background-color: #4f71ce;
}

.bg-steel-blue {
    background-color: #42a5f5;
}

.bg-crimson {
    background-color: #d32f2f;
}

.bg-light-grey {
    background-color: #f4f6f5;
}

.border-grey {
    border: 1px solid #dcdcdc;
}
/* Default classes end*/


/* Default components start*/
.default-section {
    padding: 120px 0;
}

.title {
    margin-bottom: 56px;
    font-family: 'robotobold', sans-serif;
    font-size: 2.25rem;
}

.title.title-white {
    color: #fff;
}

.default-text {
    font-size: .9375rem;
    line-height: 1.6em;
    color: #b0bec5;
}

.default-chevron-list {
    font-size: .9375rem;
}

.default-chevron-list li + li {
    margin-top: 23px;
}

.fa-chevron-right {
    font-size: .875rem;
    color: #8bc34a;
}

.default-chevron-list .fa-chevron-right {
    margin-right: 13px;
}

.icon {
    display: inline-block;
}

.mobile-aside-toggle {
    display: none;
}

.close-mobile-aside {
    display: none;
}

/* Default components end*/

/* ========== Button start ========== */
.btn {
    display: inline-block;
    line-height: 1;
    color: #fff;
}

.small-btn {
   padding: 10px 17px;
   font-family: 'robotoregular', sans-serif;
   font-size: .75rem;
   border-radius: 4px;
}

.large-btn {
    padding: 16px 25px;
    font-family: 'robotomedium', sans-serif;
    font-size: 1rem;
}
/* ========== Button end ========== */

/* ========== Card start ========== */
.card {
    margin-bottom: 30px;
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    transition: all .1s ease-in;
}

.card:hover {
    box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
}

.hot-product {
    width: 63px;
    height: 63px;
    transform: rotate(45deg);
    background-color: #8bc34a;
    position: absolute;
    left: -32px;
    top: -32px;  
    text-align: right;
    line-height: 63px;
    color: #fff;
    font-size: .9rem;  
}  

.hot-product i {
    transform: rotate(-45deg);
    margin-right: 6px;
}

.card-img img {
    width: 100%;
}

.card-description {
    padding: 25px 20px;
    border-bottom: 1px solid #e7ecf2;
}

.card-item-info {
    font-family: 'robotomedium', sans-serif;
}

.card-item-info .card-title {
    display: block;
    margin-bottom: 9px;
}

.card-item-info .card-category {
    display: block;
    font-size: .875rem;
    color: #8bc34a;
}

.card-price {
    font-family: 'robotobold', sans-serif;
    font-size: 1.25rem;
}

.card-author-info {
    padding: 16px 20px;
}

.card-author img {
    width: 30px;
    height: 30px;
    margin-right: 14px;
}

.card-author span {
    font-family: 'robotomedium', sans-serif;
    font-size: .875rem;
    color: #546e7a;
}

.product-rating {
    margin-right: 9px;
}

.product-rating li {
    display: inline-block;
    font-size: .75rem;
    color: #ffa726;
}

.product-reviews-count {
    margin-top: 5px;
    font-size: .75rem;
}

.product-reviews-count::before {
    content: '(';
    color: #b0bec5;
}

.product-reviews-count::after {
    content: ')';
    color: #b0bec5;
}
/* ========== Card end ========== */

/* ========== Form start ========== */
.head-title {
    padding: 18px 33px;
    font-family: 'robotomedium', sans-serif;
    font-size: 1.5rem;
    border-bottom: 1px solid #d7d7d7;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 0 17px;
	border: 1px solid #dedede;
	background-color: #f9f9f9;
	font-family: 'robotoregular', sans-serif;
	font-size: .9375rem;
	line-height: 40px;
	color: #707070;
}

.form-control:focus {
    box-shadow: 0 2px 3px rgba(0,0,0,.5);
}

textarea.form-control {
    height: 148px;
    resize: none;
}

.input-file-styler {
    width: 100%;
    height: 40px;
}
/* ========== Form end ========== */

@media (max-width: 1200px) {
    .mobile-aside-toggle {
        display: block;
        margin-right: 12px;
        color: #707070;
    }

    .mobile-aside-toggle:hover {
        color: #8bc34a;
    }

    .close-mobile-aside {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff;
        background-color: #000;
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background: rgba(0, 0, 0, .7);
        opacity: 0;
    }

    .mobile-aside {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        transition: transform .2s ease-in;
    }

    .mobile-aside.left {
        transform: translateX(-100%);  
    }

    .mobile-aside.right {
        transform: translateX(100%);
        left: auto;
        right: 0;
    }

    body.show-aside {
        overflow-y: hidden;
    }

    .show-aside .overlay {
        z-index: 998;
        opacity: 1;
    }

    .show-aside .mobile-aside {
        height: 100vh;
        overflow-y: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .show-aside .mobile-aside {
        transform: translateX(0);
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 2rem;
    }
}
/* Default components end*/

/* ========== Breadcrumb start ========== */
.breadcrumb {
    padding: 45px 0;
}

.breadcrumb > li {
    display: inline-block;
    font-size: .9375rem;
}

.breadcrumb > li a {
    color: #b0bec5;
}

.breadcrumb > li + li::before {
    content: '-';
    padding: 0 5px;
    color: #8bc34a;
}
/* ========== Breadcrumb end ========== */

/* ========== Header start ========== */
.top-header {
    padding: 26px 0;
}

.need-help {
    font-size: .934rem;
    color: #546e7a;
}

.need-help span span {
    color: #e74c3c;
}

.user-controls {
    margin-left: 30px;
}

.dropdown-item {
    position: relative;
}

.dropdown-item + .dropdown-item {
    margin-left: 16px;
}

.dropdown-control {
    position: relative;
    width: 34px;
    height: 34px;
    font-size: .875rem;
    color: #a0a0a0;
    background-color: #f5f5f5;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-item.show .dropdown-control {
    color: #263238;
}

.notify-count {
    position: absolute;
    top: -8px;
    right: -5px;
    width: 18px;
    height: 18px;
    font-family: 'open_sanssemibold', sans-serif;
    font-size: .69rem;
    line-height: 18px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}

.dropdown-menu {
    position: absolute;
    top: 0;
    display: none;
    min-width: 268px;
    margin-top: 31px;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    box-shadow: 0 12px 22px rgba(0, 0, 0, .2);
}

.dropdown-menu.dropdown-menu-small {
    min-width: 160px;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-notify-item {
    padding: 18px 21px;
}

.dropdown-notify-item + .dropdown-notify-item {
    border-top: 1px solid #d3d3d3;
}

.notify-item-avatar {
    margin-right: 20px;
    width: 48px;
    height: 48px;
}

.notify-card-img {
    margin-right: 15px;
    width: 73px;
    height: 57px;
}

.notify-item-info h6 {
    font-size: .75rem;
    color: #84b743;
}

.notify-item-info .notify-author {
    font-family: 'robotobold', sans-serif;
    font-size: .75rem;
}

.notify-item-info .notify-product {
    font-family: 'robotomedium', sans-serif;
    font-size: .9375rem;
}

.notify-item-info .notify-date {
    font-size: .625rem;
    color: #707070;
}

.notify-item-info .notify-price {
    font-family: 'robotomedium', sans-serif;
    color: #000;
}

.dropdown-notify-item i {
    margin-top: 8px;
    color: #b0bec5;
}

.dropdown-notify-item:hover i {
    color: #ef6c00;
}

.dropdown-notify-total {
    padding: 19px 39px 0 28px;
    font-family: 'robotobold', sans-serif;
    border-top: 1px solid #d3d3d3;
}

.dropdown-btn-wrap {
    margin-top: 19px;
    margin-bottom: 12px;
    text-align: center;
}

.dropdown-btn-wrap .btn {
    font-family: 'robotobold', sans-serif;
    font-size: .875rem;
    text-align: center;
}

.btn.btn-to-card {
    margin-right: 5px;
    padding: 11px 18px;
}

.btn.btn-to-checkout {
    padding: 11px 13px;
}

.user-dropdown-control {
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}

.user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.user-info-wrap {
    margin-left: 15px;
}

.user-info-wrap .user-name {
    font-family: 'robotomedium', sans-serif;
    font-size: .875rem;
    color: #222;
}

.user-info-wrap .fa-chevron-down {
    margin-left: 13px;
    color: #707070;
}

.user-info-wrap .balance {
    font-family: 'robotobold', sans-serif;
    font-size: .875rem;
    color: #8bc34a;
}

.user-dropdown-control .dropdown-menu {
    margin-top: 25px;
    padding: 24px 19px 28px;
}

.user-dropdown-control .dropdown-menu li + li {
    margin-top: 20px;
}

.user-dropdown-control .dropdown-menu .fa-chevron-right {
    margin-right: 10px;
}

.user-dropdown-control .dropdown-menu a {
    font-size: .75rem;
    color: #546e7a;
}

.header-btn-wrap {
    margin-left: 26px;
}

.user-controls .btn.small-btn + .btn.small-btn {
    margin-left: 7px;
}

.bottom-header {
    padding: 25px 0;
}

.header-nav {
    font-family: 'robotomedium', sans-serif;
    font-size: .875rem;
    color: #fff;
}

.header-nav a + a {
    margin-left: 40px;
}

@media (max-width: 991px) {
    .user-controls {
        width: 100%;
        margin-top: 30px;
        margin-left: 0;
    }

    .bottom-header {
        position: relative;
    }

    .header-nav {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .need-help {
        width: 100%;
        margin-top: 30px;
        font-size: .875rem;
    }

    .user-dropdown-control {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
        order: 1;
    }

    .dropdown-menu {
        margin-top: 0;
    }

    .user-dropdown-control .dropdown-menu {
        margin-top: 0;
    }
}
/* ========== Header end ========== */



/* ========== Inner start ========== */
.inner {
    padding-top: 157px;
    padding-bottom: 170px;
    background: url(../img/inner-bg.jpg) no-repeat center / cover;
}

.inner.small-inner {
    padding-top: 57px;
    padding-bottom: 67px;
    background: url(../img/small-inner-bg.jpg) no-repeat center / cover;
}

.inner h1 {
    margin-bottom: 30px;
    font-family: 'robotobold', sans-serif;
    font-size: 3rem;
    color: #fff;
}

.inner-subtitle {
    margin-bottom: 50px;
    font-family: 'robotomedium', sans-serif;
    font-size: 1.25rem;
    color: #fff;
}

.inner.small-inner .inner-subtitle {
    margin-bottom: 25px;
}

.search-wrap {
    position: relative;
    max-width: 671px;
    margin: 0 auto;
}

.search-input {
    width: 100%;
    height: 56px;
    padding-left: 25px;
    padding-right: 50px;
    font-family: 'robotomedium', sans-serif;
    font-size: .875rem;
    letter-spacing: .05em;
    color: #90a4ae;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
}

.search-input::-webkit-input-placeholder { color: #90a4ae; }
.search-input::-moz-placeholder { color: #90a4ae; }
.search-input:-moz-placeholder { color: #90a4ae; } 
.search-input:-ms-input-placeholder { color: #90a4ae; }

.search-input-btn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25rem;
    background-color: transparent;
    color: #7c939f;
}

@media (max-width: 576px) {
    .inner h1 {
        font-size: 2.5rem;
    }
}
/* ========== Inner end ========== */


/* ========== Newest products start ========== */
.newest-products-tabs .nav-item {
    display: inline-block;
}

.newest-products-tabs .nav-link {
    display: block;
    padding: 15px 25px;
    font-family: 'robotomedium', sans-serif;
    font-size: .875rem;
    text-align: center;
    background-color: #fff;
}

.newest-products-tabs .nav-link.active {
    color: #fff;
    background-color: #e74c3c;
    box-shadow: 0 2px 5px rgba(202, 215, 228, .75);
}

.newest-products-tabs .tab-content {
    margin-top: 59px;
}

.newest-products-tabs .tab-pane {
    display: none;
}

.newest-products-tabs .tab-pane.show {
    display: block;
}

.newest-products-tabs .card {
    position: relative;
    overflow: hidden;
}

.newest-products-tabs .card-author-info {
    padding: 20px 20px;
}

.newest-products-tabs .card-author img {
    margin-right: 5px;
}

.newest-products-tabs .card-author span {
    font-size: .75rem;
}

.items-btn-wrap {
    margin-top: 78px;
}

.items-btn {
    display: inline-block;
    padding: 20px 32px;
    font-size: 1rem;
    line-height: 1em;
    box-shadow: 0 1px 3px rgba(204, 216, 218, .75);
}

.items-btn:hover {
    box-shadow: 0 10px 15px rgba(204, 216, 218, .75);
}

.items-btn-wrap .items-btn + .items-btn {
    margin-left: 12px;
}

@media (max-width: 767px) {
    .newest-products-tabs .nav-item {
        width: 30%;
        margin-bottom: 5px;
    }
}

@media (max-width: 576px) {
    .newest-products-tabs .nav-item {
        width: 100%;
    }

    .items-btn-wrap .items-btn + .items-btn {
        margin-left: 0;
        margin-top: 10px;
    }
}
/* ========== Newest products end ========== */



/* ========== Trending products start ========== */
.trending-products.default-section {
    padding-bottom: 0;
}

.trending-product-carousel {
    padding-bottom: 205px;
}

.trending-products .card {
    position: relative;
    overflow: hidden;
}

.trending-products .card-author-info {
    padding: 20px 20px;
}

.trending-products .card-author img {
    margin-right: 5px;
}

.trending-products .card-author span {
    font-size: .75rem;
}

.slick-list {
    margin: 0 -15px;
}

.slick-slide {
    margin: 0 15px;
}

.slick-dots {
    position: absolute;
    bottom: 118px;
    left: 50%;
    transform: translateX(-50%); 
}

.slick-dots li {
    display: inline-block;
}

.slick-dots li + li {
    margin-left: 7px;;
}

.slick-dots li button {
    width: 15px;
    height: 15px;
    color: transparent;
    background-color: #e8e8e8;
    border-radius: 50%;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .2);
}

.slick-dots li.slick-active button {
    box-shadow: none;
    background-color: #8bc34a;
}

@media (max-width: 767px) {
    .slick-dots {
        width: 100%;
        text-align: center;
    }
}
/* ========== Trending products end ========== */



/* ==========  Why choose foxtar start ========== */
.why-choose-foxtar .title {
    margin-bottom: 80px;
}

.advantage-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'robotomedium', sans-serif;
    font-size: 1.625rem;
    color: #fff;
    cursor: pointer;
}

.advantage-title:hover {
    color: #8bc34a;
}

@media (max-width: 991px) {
    .advantage-item {
        margin-bottom: 40px;
    }
}
/* ==========  Why choose foxtar end========== */ 


/* ========== Become a author start ========== */
.become-a-author {
    position: relative;
}

.become-a-author-content {
    display: inline-block;
    padding: 75px 59px;
    max-width: 655px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.become-author-text {
    display: inline-block;
    max-width: 260px;
    margin-right: 47px;
    font-size: 1.875rem;
    line-height: 1.2em;
    color: #fff;
    vertical-align: middle;
}

.become-author-text span {
    font-family: 'robotobold', sans-serif;
}

.author-register-btn {
    display: inline-block;
    padding: 23px 42px;
    font-family: 'robotoregular', sans-serif;
    font-size: 1.125rem;
    line-height: 1em;
    vertical-align: middle;
}

@media (max-width: 991px) {
    .become-a-author-content {
        width: auto;
        padding: 20px 10px;
        text-align: center;
    }

    .become-author-text {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
        font-size: 1.6rem;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .become-author-text {
        font-size: 1.2rem;
    }

    .author-register-btn {
        padding: 15px 20px;
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .become-a-author img {
        display: none;
    }

    .become-author-text {
        font-size: 1rem;
    }

    .author-register-btn {
        padding: 10px 20px;
        font-size: .75rem;
    }

}
/* ========== Become-a-author end ========== */


/* ==========  Tutorials start========== */ 
.tutorials-item {
    padding-bottom: 40px;
}

.tutorials-img img {
    width: 100%;
    margin-bottom: 40px;
}

.tutorials-name {
    font-family: 'robotobold', sans-serif;
    font-size: 1.5rem;
}

@media (max-width: 767px) {
    .tutorials-item {
        margin-bottom: 30px;
    }
}
/* ==========  Tutorials end========== */ 


/* ========== Footer start ========== */
.footer-top {
    padding-top: 115px;
    padding-bottom: 95px;
    border-bottom: 1px solid #424d53;
}

.footer-title {
    font-family: 'ralewaybold', sans-serif;
    font-size: 1.375rem;
    color: #fff;
}

.footer-title::after {
    content: "";
    display: block;
    margin-top: 27px;
    margin-bottom: 32px;
    width: 51px;
    height: 3px;
    background-color: #729e4c;
}

.footer-top .default-text {
    color: #b7c3c8;
}

.contact-wrap {
    margin-top: 30px;
}

.contact-item + .contact-item {
    margin-top: 15px;
}

.contact-item i {
    margin-right: 20px;
    font-size: 1.125rem;
    color: #8bc34a;
}

.contact-item i.fa-phone {
    transform: rotate(90deg);
}

.contact-item span {
    font-family: 'latosemibold', sans-serif;
    font-size: .875rem;
    line-height: 1.71em;
    color: #fff;
}

.footer-top .default-chevron-list {
    color: #b7c3c8;
}

.footer-top .default-chevron-list .fa-chevron-right {
    font-size: 1.125rem;
}

.footer-sprite-wrap .icon + .icon {
    margin-left: 3px;
}

.subscribe-form-wrapper {
    margin-top: 40px;
}

.subscribe-form-wrapper .form-title {
    margin-bottom: 20px;
    font-size: 1.25rem;
    color: #fff;
}

.subscribe-form {
    display: inline-block;
    background: linear-gradient(to bottom, #000 0%, #263238 100%);
    padding: 1px;
}

.subscribe-form #email {
    padding: 13px 15px;
    width: 216px;
    height: 37px;
    font-family: 'robotoregular', sans-serif;
    font-size: .875rem;
    color: #697378;
    background-color: #2f3c43;
}

.subscribe-form #email::placeholder {
    font-size: .875rem;
    color: #697378;
}

.subscribe-form button {
    padding: 9px 13px;
    font-size: 1.15rem;
    line-height: 1em;
    color: #fff;
    background-color: #8bc34a;
}

.footer-bottom {
    padding-top: 25px;
    padding-bottom: 30px;
}

.copy {
    font-size: .9375rem;
    color: #919699;
}

@media (max-width: 1200px) {
    .footer-top {
        padding-top: 65px;
    }

    .footer-item {
        margin-top: 50px;
    }
}



/* ========== Aside start ========== */
.aside-section {
    padding: 20px 30px 30px;
}

.aside-section + .aside-section {
    margin-top: 30px;
}

.aside-title {
    margin-bottom: 25px;
    padding-bottom: 18px;
    font-family: 'robotobold', sans-serif;
    font-size: 1.25rem;
    border-bottom: 1px solid #dde3e8;
}
/* ========== Aside end ========== */

/* ========== All items wrap start ========== */
.all-items-wrap {
    padding-bottom: 109px;
}
/* ========== All items wrap end ========== */

/* ========== Aside section start ========== */
.aside-section .btn {
    width: 100%;
    text-align: center;
}

.all-items-wrap .aside-section .btn {
    margin-top: 16px;
    font-size: .9375rem;
}

.aside-section .category-item-count {
    color: #90a4ae;
}

.aside-section.price-range-section .aside-title {
    margin-bottom: 15px;
}

.aside-section.price-range-section .btn {
    margin-top: 50px;
}

.aside-section.price-range-section .btn span {
    margin-left: 10px;
}

.all-items-wrap .aside-section .card {
    margin-bottom: 24px;
    box-shadow: none;
    transition: none;
}

.all-items-wrap .aside-section .card + .card {
    padding-top: 25px;
    border-top: 1px solid #dde3e8;
}

.all-items-wrap .aside-section .card:hover {
    box-shadow: none;
}

.all-items-wrap .aside-section .card-description {
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 0;
    border-bottom: none;
}

.all-items-wrap .aside-section .card-title {
    font-family: 'robotobold',sans-serif;
    margin-bottom: 10px;
}

.all-items-wrap .aside-section .card-price {
    margin-top: 5px;
    font-size: 1rem;
}

.all-items-wrap .aside-section .card-author-info {
    padding: 0;
}

.all-items-wrap .aside-section .product-rating {
    margin-right: 0;
}

.product-price-section .price-wrap {
    margin-bottom: 28px;
}

.product-price-section .price-wrap span {
    font-family: 'robotomedium', sans-serif;
    font-size: 1.375rem;
    color: #e74c3c;
}

.product-price-section .price-dropdown {
    position: relative;
}

.product-price-section .price-btn {
    display: inline-block;
    padding: 8px 10px;
    font-family: 'robotoregular', sans-serif;
    font-size: .8125rem;
    line-height: 1em;
    color: #70838d;
    border: 1px solid #d5d5d5;
}

.product-price-section .price-btn i {
    margin-left: 9px;
    color: #8bc34a;
}

.product-price-section .dropdown-price-item {
    display: block;
    font-size: .8125rem;
    color: #70838d;
}

.product-price-section .dropdown-price-item + .dropdown-price-item {
    margin-top: 10px;
}

.price-dropdown .dropdown-menu {
    margin-top: 0;
    padding: 15px;
    border-color: #d5d5d5;
}

.product-price-section .btn {
    box-shadow: 0 1px 2px rgba(69, 90, 100, .75);
}

.product-price-section .btn + .btn {
    margin-top: 7px;
}

.product-price-section .btn i {
    margin-right: 7px;
}

.product-author-info {
    margin-bottom: 25px;
}

.product-author {
    margin-left: 15px;
}

.product-author span {
    display: block;
    font-family: 'robotobold', sans-serif;
    font-size: 1.25rem;
    line-height: 1em;
}

.profile-btn {
    display: inline-block;
    margin-top: 12px;
    padding: 8px 10px;
    font-size: .8125rem;
    line-height: 1em;
    color: #707070;
    border: 1px solid #d5d5d5;
}

.aside-section.sales-section {
    padding-bottom: 20px;
}

.sales-section i {
    margin-right: 20px;
    font-size: 1.25rem;
    color: #a6b5bb;
}

.sales-section .sales-count {
    font-family: 'robotobold', sans-serif;
    font-size: 1.25rem;
    margin-right: 15px;
}

.sales-section .sales-name{
    font-family: 'robotolight', sans-serif;
    color: #707070;
}

.product-info-list li {
    font-family: 'robotomedium', sans-serif;
    font-size: .875rem;
} 

.product-info-list li + li {
    margin-top: 20px;
}

.product-info-list li span {
    font-family: 'robotoregular', sans-serif;
    color: #70838d;
}

/* ========== Aside section end ========== */


/* ========== View Controls start ========== */
.view-controls {
    margin-bottom: 30px;
    padding: 20px;
}

.sort-wrap {
    font-size: .875rem;
    color: #707070;
}

.sort-wrap i:hover {
    color: #455a64;
}

.sort-wrap .sort-name {
    margin: 0 12px;
}

.sort-wrap .fa-sort {
    font-size: 1.125rem;
}

.view-wrap i {
    color: #90a4ae;
}

.view-wrap i:hover {
    color: #8bc34a;
}

.view-wrap i + i {
    margin-left: 12px;
}

@media (max-width: 576px) {
    .view-wrap i + i {
        margin-left: 5px;
    }
}
/* ========== View Controls end ========== */

/* ========== Pagination start ========== */
.pagination-wrap {
    margin-top: 30px;
}

.pagination li {
    display: inline-block;
}

.pagination li + li {
    margin-left: 5px;
}

.pagination a {
    display: inline-block;
    width: 43px;
    height: 38px;
    font-family: 'robotomedium', sans-serif;
    line-height: 38px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    transition: all .1s ease-in;
}

.pagination li.active a {
    color: #fff;
    background-color: #e74c3c;
}

.pagination a:hover {
    box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
}
/* ========== Pagination end ========== */


/* ========== Product details wrap start ========== */
.product-details-wrap {
    padding-bottom: 122px;
}
/* ========== Product details wrap end ========== */

/* ========== Product baner start ========== */
.product-baner {
    padding: 15px;
}

.product-baner img {
    width: 100%;
}
/* ========== Product baner end ========== */

/* ========== Product description start ========== */
.description-title {
    margin-top: 37px;
    margin-bottom: 25px;
    font-family: 'robotomedium', sans-serif;
    font-size: 1.875rem;
}

.description-text {
    color: #707070;
}

@media (max-width: 576px) {
    .description-title {
        font-size: 1.25rem;
    }
}
/* ========== Product description end ========== */

/* ========== Product links start ========== */
.product-links {
    margin-top: 45px;
}

.product-links .btn + .btn {
    margin-left: 18px;
}

.product-social a {
    display: inline-block;
    width: 54px;
    height: 50px;
    font-size: 1.125rem;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

@media (max-width: 991px) {
    .product-social {
        margin-left: 0;
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    .product-btn-wrap {
        flex-direction: column;
    }

    .product-links .btn + .btn {
        margin-left: 0;
        margin-top: 20px;
    }

    .product-social {
        width: 100%;
        text-align: center;
    }
}
/* ========== Product links end ========== */

/* ========== Product tabs start ========== */
.product-tabs {
    margin-top: 55px;
    margin-bottom: 52px;
}

.product-tabs .nav-item {
    flex-grow: 1;
}

.product-tabs .nav-item + .nav-item {
    border-left: 1px solid #dfdfdf;
}

.product-tabs .nav-link {
    position: relative;
    display: block;
    padding: 20px 10px;
    font-family: 'robotomedium', sans-serif;
    text-align: center;
    color: #70838d;
    border-bottom: 1px solid #dfdfdf;
}

.product-tabs .nav-link.active {
    color: #263238;
}

.product-tabs .nav-link::after {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -1px;
    height: 0;
    transition: all .2s ease-in;
}

.product-tabs .nav-link.active::after {
    height: 3px;
    background-color: #8bc34a;
}

.product-tabs .tab-pane {
    display: none;
    padding: 35px 35px 65px;
}

.product-tabs .tab-pane.show {
    display: flex;
}

.product-tabs .tab-pane .default-chevron-list + .default-chevron-list {
    margin-left: 50px;
}

.product-tabs .tab-pane .default-chevron-list li + li {
    margin-top: 20px;
}

.product-tabs .tab-pane .default-chevron-list .fa-chevron-right {
    font-size: 1rem;
}

.product-tabs .tab-pane .default-chevron-list li span {
    color: #707070;
}

@media (max-width: 767px) {
    .product-tabs .nav-item {
        width: 50%;
    }

    .product-tabs .tab-pane .default-chevron-list + .default-chevron-list {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    .product-tabs .nav-item {
        width: 100%;
    }

    .product-tabs .nav-item + .nav-item {
        border-left: none;
    }

    .product-tabs .default-chevron-list {
        width: 100%;
        font-size: .8125rem;
    }
}
/* ========== Product tabs end ========== */

/* ========== More product start ========== */
.more-product {
    padding: 20px 27px;
    font-family: 'robotomedium', sans-serif;
    font-size: 1.125rem;
}
/* ========== More product start ========== */

/* ========== product-details-wrap card start ========== */
.product-details-wrap .card {
    margin-top: 28px;
}

.product-details-wrap .card-img img {
    max-width: 100%;
}

.product-details-wrap .card-description {
    padding: 16px 20px 6px;
    border-bottom: none;
}

.product-details-wrap .card-item-info .card-title {
    font-size: .875rem;
    margin-bottom: 2px; 
}

.product-details-wrap .card-item-info .card-category {
    font-family: 'robotoregular', sans-serif;
    font-size: .75rem;
}

.product-details-wrap .card-price {
    font-size: 1.125rem;
}
/* ========== product-details-wrap card end ========== */
/* ========== Upload product start ========== */
.upload-product-wrap {
    padding-bottom: 107px;
}

.form-body {
    padding-top: 40px;
    padding-bottom: 65px;
}

.form-body .row + .row {
    margin-top: 20px;
}

.form-body label {
    padding-left: 45px;
    font-size: .9375rem;
    color: #444;
}

.form-body label sup {
    font-size: 1.1rem;
    color: #8bc34a;
}

.form-body .btn {
    margin-top: 22px;
}

.form-body .large-btn {
    padding-left: 35px;
    padding-right: 35px;
    font-size: .9375rem;
}

@media (max-width: 767px) {
    .form-body {
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-body label {
        padding-left: 0;
    }
}
/* ========== Upload product end ========== */



